target/
!.mvn/wrapper/maven-wrapper.jar
.playwright-cli/

### IntelliJ IDEA ###
.idea/
*.iws
*.iml
*.ipr

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings/
.springBeans
.sts4-cache

### VS Code ###
.vscode/

### OS ###
.DS_Store
